// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  @include breakpoint($breakpoint-tablet--large) {
    overflow: hidden;
    padding-top: 60px;
  }

  @include breakpoint($breakpoint-tablet) {
    overflow: initial;
    padding-top: 30px;
  }

  padding-top: 100px;
}

.hero {
  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-top: 30px;
    }

    margin-top: 50px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--medium;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__title--small;
    }

    margin-bottom: 30px;
    font-size: $font-size__title--large;
    line-height: $line-height--secondary;
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 65px;
      font-size: $font-size__text--large;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--big;
    }

    margin-bottom: 135px;
    font-size: $font-size__title--small - 4px;
  }

  &__action {
    .button:first-child {
      @include breakpoint($breakpoint-laptop--medium) {
        margin-right: 30px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        margin-right: 20px;
      }

      margin-right: 80px;
    }
  }

  &__offset {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-left: 0;
    }

    margin-left: 45px;
  }

  &__slider {
    @include breakpoint($breakpoint-tablet--large) {
      width: 150%;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }

    position: relative;
  }

  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 435px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 380px;
      border-radius: 30px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 250px;
    }

    overflow: hidden;
    height: 575px;
    border-radius: 60px;
  }

  &__background {
    position: absolute;
    top: 10%;
    right: 20%;
  }
}
