#process {
  @include breakpoint($breakpoint-tablet--large) {
    margin-top: 130px;
  }

  @include breakpoint($breakpoint-tablet) {
    margin-top: 80px;
  }

  margin-top: 225px;

  .section__header {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 100px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 50px;
    }

    margin-bottom: 125px;
  }
}

.process {
  &__wrapper {
    position: relative;
    z-index: 2;

    .row {
      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: -80px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: -45px;
      }

      margin-bottom: -120px;

      & > div {
        @include breakpoint($breakpoint-laptop--medium) {
          margin-bottom: 80px;
        }

        @include breakpoint($breakpoint-tablet--large) {
          margin-bottom: 45px;
        }

        margin-bottom: 120px;
      }
    }
  }

  &__background {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    width: 100%;
    margin-top: -8%;
  }

  &__item {
    display: flex;
    align-items: flex-start;
  }

  &__step {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-right: 25px;
      font-size: 64px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 48px;
    }

    margin-right: 60px;

    color: $color-text__green;

    font-weight: $weight-SemiBold;
    font-size: 70px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--large;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--big;
    }

    margin-bottom: 16px;

    font-weight: $weight-Regular;
    font-size: $font-size__title--small;
  }

  &__description {
    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }

    width: 80%;
  }
}
