#service-recent {
  @include breakpoint($breakpoint-laptop--medium) {
    margin-top: 140px;
  }

  margin-top: 200px;
}

.service-recent {
  &__slider {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 85%;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
    }

    width: 90%;
    margin: 0 auto;

    .swiper-button-prev,
    .swiper-button-next {
      @include breakpoint($breakpoint-tablet--large) {
        top: initial;
        bottom: -125px;
      }
    }

    .swiper-button-prev {
      @include breakpoint($breakpoint-tablet--large) {
        left: 20%;
      }
    }

    .swiper-button-next {
      @include breakpoint($breakpoint-tablet--large) {
        right: 20%;
      }
    }
  }

  &__action {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-top: 60px;
    }

    margin-top: 75px;
    text-align: center;
  }
}
