.callback-list {
  &__item {
    @include breakpoint($breakpoint-laptop--medium) {
      br {
        display: none;
      }
    }

    a {
      display: inline-flex;
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;

    margin-top: -4px;
    margin-right: 16px;
  }
}
