/* purgecss start ignore */

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $scrollbar__bg;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $scrollbar__contoller;
  }
}

/* purgecss end ignore */
