.section {
  &__header {
    margin-bottom: 80px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--small + 4px;
    }

    font-size: $font-size__title--medium;

    span {
      color: $color-text__green;
    }
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--large;
    }

    font-size: $font-size__text--large + 4px;
  }
}
