.section {
  &__header {
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--small + 4px;
    }

    font-size: $font-size__title--medium;
    line-height: $line-height--secondary;

    span {
      color: $color-text__green;
    }
  }
}
