.section {
  &__header {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 60px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 40px;
    }

    margin-bottom: 80px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--small;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--large;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      br {
        display: none;
      }
    }

    font-size: $font-size__title--medium;

    span {
      color: $color-text__green;
    }
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--large - 3px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--large + 4px;
  }
}
