.play {
  @include breakpoint($breakpoint-laptop--medium) {
    width: 64px;
  }

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;

  width: 78px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translate(-50%, -50%);
  transition: $transition ease;

  &--show {
    opacity: 1;
    visibility: visible;
  }
}
