// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-green: #8b9d83;
$palette-black: #000000;

// Цветовая палитра текста
$color-text__primary: #424242;
$color-text__black: #424242;
$color-text__green: #8b9d83;
$color-text__red: #ee3349;
$color-text__gray: #a49b9b;
$color-text__white: #ffffff;
