.quiz-content {
  @include breakpoint($breakpoint-laptop--medium) {
    padding: 30px;
  }

  @include breakpoint($breakpoint-tablet) {
    padding: 40px 16px 16px;
  }

  padding: 50px;

  &__counter,
  &__text {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big + 2px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--large;
  }

  &__counter {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 30px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 16px;
    }

    margin-bottom: 50px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 36px;
      font-size: $font-size__title--small;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--big + 2px;
    }

    margin-bottom: 50px;
    font-size: $font-size__title--medium;
  }

  &__action {
    margin-top: 50px;
    text-align: center;
  }
}
