.hero__slider {
  .swiper-button-prev {
    @include breakpoint($breakpoint-laptop--medium) {
      left: 16px;
    }
  }

  .swiper-button-next {
    @include breakpoint($breakpoint-laptop--medium) {
      right: 16px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      right: calc(500px - 46.5vw);
    }

    @include breakpoint($breakpoint-tablet) {
      right: 16px;
    }
  }

  .swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
}
