.button {
  @include breakpoint($breakpoint-laptop--medium) {
    padding: 14px 40px;
  }

  display: inline-block;

  padding: 20px 45px;
  border: 2px solid transparent;
  border-radius: 1000px;
  outline: none;

  background-color: transparent;

  font-size: $font-size__text--regular;
  white-space: nowrap;

  cursor: pointer;
  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
