.service-card {
  @include breakpoint($breakpoint-laptop--medium) {
    border-radius: 13px 13px 40px 40px;
  }

  border-radius: 15px 15px 47px 47px;

  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 180px;
    }

    height: 260px;
  }

  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      padding: 25px 20px;
    }

    display: flex;
    flex-direction: column;

    padding: 30px 35px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--regular;
    }

    display: -webkit-box;
    overflow: hidden;

    margin-bottom: 16px;

    font-size: $font-size__text--big + 2px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__description {
    margin-bottom: 32px;
  }

  &__button {
    width: 100%;
  }
}
