.video-card {
  @include breakpoint($breakpoint-tablet--large) {
    border-radius: 10px 10px 30px 30px;
  }

  position: relative;
  border-radius: 15px 15px 45px 45px;

  @media (hover: hover) {
    &:hover .image {
      opacity: 0.7;
    }
  }

  .image {
    transition: $transition ease;
  }

  &__preview {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 320px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 270px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 210px;
    }

    overflow: hidden;
    height: 450px;
  }

  &__wrapper {
    @include breakpoint($breakpoint-tablet--large) {
      padding: 20px 35px;
    }

    padding: 30px 55px;
  }

  &__title {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--big + 2px;
  }
}
